
html, body {
    margin: 0;
    font-size: 32px;
}
header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    height:64px;
    font-family:sans-serif;
}
.headerlogo {
    display: flex;
    align-items: center;
}
.headerlogo img {
    margin-left: 24px; 
}
a {
    text-decoration: none; 
    color: gray;
}
strong {
    color: #484B4A;
    font-weight: 550;
}
ul {
    list-style: none;
    display: flex;
    margin-right: 24px;
    color: #484B4A;
}
li {
    margin-right: 16px;   
}
h4 {
    font-weight: 400;
}
.banner {
    background-color: lightgrey;
    display: flex;
    align-items: center;
    width: 100%    
}
.banner-img {
    width: 60%;
    margin: 32px 24px;
}    
.banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    text-align: left;
    margin-left: 24px;
    color:#484B4A;   
}
.banner-text h1 {
    margin: 0;
    font-family:sans-serif;
}
.banner-text h3 {
    margin: 0;
    margin-top: 40px;
    font-family:sans-serif;
}
.banner-text h4 {
    margin-top: 40px;
    height: 60px;
    font-size: 30px;
    width: 75%;
    color: white;
    background-color: #484B4A;
    font-family:sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.information-main {
    display: flex;
    width: 100%;
    margin-right: 20px;  
} 
.information-container {
    display: flex;
    flex-direction: column;
    width: 60%;
}  
.information-main-img1 { 
    width: 60%;
    margin: 32px 24px;
}
.information-main-img1-text {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.information-main-img1-text h2 {
    color:#484B4A;
    font-family: sans-serif;
    margin-left: 24px;
    font-weight: 700;
}
#signing {
    font-size: 20px;
    margin:32px 24px;
    color:#484B4A;
    font-family: sans-serif;
}
#latin { 
    margin-left: 24px;
    font-weight:300;
    font-family: sans-serif;
    font-size: 30px;
    color:#484B4A;
}
.orientation {
    display: flex;
    background-color: white;
    width: 100%;
    margin-top: 32px;
    align-items: center;
    border-top: 0px;
    border-bottom: 2px solid lightgrey;
    border-left: 2px solid lightgray;
    border-right: 0px;
}
.orientation img {
    width: 35%;
    height: auto;
    margin: 16px 16px;
}
.orientation-text {
    text-align: left;
    flex: 1;
    font-family: sans-serif;
    font-size: 25px;
    color:#484B4A;
}
.orientation-text h2 {
    margin: 0;   
}
.orientation-text p {
    margin: 0;
    margin-top: 8px;
}
.orientation-text h4 {
    margin: 0;
    margin-top: 8px;
}
.orientation-text a {
    color: #1E81E4;  
}
.our-campus {
    display: flex;
    background-color: white;
    width: 100%;
    align-items: center;
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgrey;
    border-left: 2px solid lightgray;
    border-right: 0px;
    margin-top: 2px;
}
.our-campus img {
    width: 35%;
    height: auto;
    margin: 16px 16px;
}
.our-campus-text {
    text-align: left;
    flex: 1;
    font-family: sans-serif;
    color:#484B4A;
    font-size: 25px;
}
.our-campus-text h2 {
    margin: 0;
}
.our-campus-text p {
    margin: 0;
    margin-top: 8px;
}
.our-campus-text h4 {
    margin: 0;
    margin-top: 8px;
}
.our-campus-text a {
    color:#1E81E4;
}
.lecture {
    display: flex;
    background-color: #EAEAEA;
    width: 100%;
    align-items: center;
    border-top: 2px solid #EAEAEA;
    border-bottom: 2px solid #EAEAEA;
    border-left: 2px solid #EAEAEA;
    border-right: 0px;
    margin-top: 2px;
}
.lecture img {
    width: 35%;
    height: auto;
    margin: 16px 16px;
}
.lecture-text {
    text-align: left;
    flex: 1;
    font-family: sans-serif;
    color:#484B4A;
    font-size: 25px;
}
.lecture-text h2 {
    margin: 0;
}
.lecture-text p {
    margin: 0;
    margin-top: 8px;
}
.lecture-text h4 {
    margin: 0;
    margin-top: 8px;
}
.lecture-text a {
    color:#1E81E4;
}
.learning {
    width: 100%;
    background-color: #EAEAEA;
}
.learning h1 {
    text-align: center;
    margin-bottom: 32px;
    padding-top: 32px;
    font-family: sans-serif;
    color:#484B4A;
}
.courses {
    display: flex;
    margin: 0px 72px;
}
.software-engineering {
    background-color: white;
    width: 33%;
    margin-right: 32px;
    text-align: left;
    justify-content: center;   
}
.software-engineering img {
    width: 100%;
}
.software-engineering-text {
    font-family: sans-serif;
    margin-left: 16px;
}
.software-engineering-text h2 {
    color:#484B4A;
    margin-bottom: 30px;
}
.software-engineering-text p {
    color:#727272;
    font-weight: 200;
    margin-top: 30px;
    margin-bottom: 24px;
}
.computer-art {
    background-color: white;
    width: 33%;
    margin-right: 32px;
}
.computer-art img {
    width: 100%
}
.computer-art-text {
    font-family: sans-serif;
    margin-left: 16px;
}
.computer-art h2 {
    color:#484B4A;
    margin-bottom: 30px;
}
.computer-art p {
    color:#727272;
    margin-top: 30px;
    margin-bottom: 24px;
}
.design {
    background-color: white;
    width: 33%;
}
.design img {
    width: 100%;
}
.design-text {
    font-family: sans-serif;
    margin-left: 16px;
}
.design-text h2 {
    color:#484B4A;
    margin-bottom: 30px;
}
.design-text p {
    color:#727272;
    margin-top: 30px;
    margin-bottom: 24px;
}
.courses2 {
    display: flex;
    margin-left: 72px;
    margin-right: 72px;
    margin-top: 32px;
    margin-bottom: 32px;
}
.data {
    background-color: white;
    width: 33%;
    margin-right: 32px;
    margin-bottom: 32px;
}
.data img{
    width: 100%;
}
.data-text {
    font-family: sans-serif;
    margin-left: 16px;
}
.data-text h2 {
    color:#484B4A;
    margin-bottom: 30px;
}
.data-text p {
    color:#727272;
    margin-top:30px;
    margin-bottom: 24px;
}
.business {
    background-color: white;
    width: 33%;
    margin-right: 32px;
    margin-bottom: 32px;
}
.business img {
    width: 100%;
}
.business-text {
    font-family: sans-serif;
    margin-left: 16px;
}
.business-text h2 {
    color:#484B4A;
    margin-bottom: 30px;
}
.business-text p {
    color:#727272;
    margin-top: 30px;
    margin-bottom: 24px;
}
.marketing {
    background-color: white;
    width: 33%;
    margin-bottom: 32px;
}
.marketing img {
    width: 100%;
}
.marketing-text {
    font-family: sans-serif;
    margin-left: 16px;
}
.marketing-text h2 {
    color:#484B4A;
    margin-bottom: 30px;
}
.marketing-text p {
    color:#727272;
    margin-top: 30px;
    margin-bottom: 24px;
}
.thesis-exhibit {
    width: 100%;
    margin: 0;
    display: flex;
}
.thesis-container {
    display: flex;
    flex-direction: column;
    width:60%
}
.thesis-label {
    font-family: sans-serif;
    margin-top: 32px;
    margin-bottom: 32px;
    text-align: center;
    color:#484B4A;
    font-size: 30px;
}
.thesis-exhibit video {
    width: 95%;
    margin-bottom: 32px;
    margin-left: 24px;
    margin-right: 24px;
}
.thesis-text {
    width: 97%;
}
.thesis-container h2 {
    margin: 24px 24px;
    color:#484B4A;
    font-family: sans-serif;
    font-size: 30px;
}
.thesis-container p {
    margin: 0;
    margin-left: 24px;
    margin-right: 0px;
    margin-top: 8px;
    margin-bottom: 32px;
    color:#727272;
    width: 100%;
    font-family: sans-serif; 
    font-size: 30px;  
}
.fisma {
    display: flex;
    background-color:#EAEAEA;
    width: 100%;
    height: 25%;
}
.fisma img {
    width: 35%;
    height: auto;
    margin: 16px 16px;
}
.fisma text {
    text-align: left;
    justify-content: center;
}
.fisma h2 {
    font-family: sans-serif;
    font-size: 30px;
    color:#484B4A;
    width: 65%;
}
.fisma p {
    font-family: sans-serif;
    color: #727272;
    font-size: 30px;
    width: 100%;
    margin-top: 0;
}
.content {
    display: flex;
    flex-direction: column;
    width:100%
}
.nowthen {
    width: 100%;
    display: flex;
    align-items: center;
}
.nowthen img {
    width: 35%;
    height: 268px;
    margin: 16px 16px;
}
.nowthen-text {
    font-family: sans-serif;
    font-size: 30px;
}
.nowthen-text h2 {
    color: #484B4A;
}
.nowthen-text p {
    color: #727272;
}